# Hidden Cell to make connection with DataBase

In [4]:
!pip install sqlalchemy
!pip install ipython-sql

Requirement not upgraded as not directly required: sqlalchemy in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages
Collecting ipython-sql
  Downloading https://files.pythonhosted.org/packages/ab/df/427e7cf05ffc67e78672ad57dce2436c1e825129033effe6fcaf804d0c60/ipython_sql-0.3.9-py2.py3-none-any.whl
Requirement not upgraded as not directly required: ipython>=1.0 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython-sql)
Collecting prettytable (from ipython-sql)
  Downloading https://files.pythonhosted.org/packages/ef/30/4b0746848746ed5941f052479e7c23d2b56d174b82f4fd34a25e389831f5/prettytable-0.7.2.tar.bz2
Requirement not upgraded as not directly required: sqlalchemy>=0.6.7 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython-sql)
Collecting sqlparse (from ipython-sql)
  Downloading https://files.pythonhosted.org/packages/65/85/20bdd72f4537cf2c4d5d005368d502b2f464ede22982e724a82c86268eda/sqlparse-0.2.4-py2.py3-none-any.whl
Requirement not upgraded as not directly required: ipython-genutils>=0.1.0 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython-sql)
Requirement not upgraded as not directly required: six in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython-sql)
Requirement not upgraded as not directly required: setuptools>=18.5 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement not upgraded as not directly required: jedi>=0.10 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement not upgraded as not directly required: decorator in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement not upgraded as not directly required: pickleshare in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement not upgraded as not directly required: simplegeneric>0.8 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement not upgraded as not directly required: traitlets>=4.2 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement not upgraded as not directly required: prompt_toolkit<2.0.0,>=1.0.4 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement not upgraded as not directly required: pygments in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement not upgraded as not directly required: pexpect in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement not upgraded as not directly required: wcwidth in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from prompt_toolkit<2.0.0,>=1.0.4->ipython>=1.0->ipython-sql)
Building wheels for collected packages: prettytable
  Running setup.py bdist_wheel for prettytable ... done
  Stored in directory: /home/dsxuser/.cache/pip/wheels/80/34/1c/3967380d9676d162cb59513bd9dc862d0584e045a162095606
Successfully built prettytable
Installing collected packages: prettytable, sqlparse, ipython-sql
Successfully installed ipython-sql-0.3.9 prettytable-0.7.2 sqlparse-0.2.4

In [5]:
# The code was removed by Watson Studio for sharing.

'Connected: zcp21480@BLUDB'

# Question 1. Find Count for each tables

In [6]:
%%sql
SELECT COUNT(*) FROM ZCP21480.CHICAGO_SOCIOECONOMIC_DATA;

 * ibm_db_sa://zcp21480:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('78'),)]

In [7]:
%%sql
SELECT COUNT(*) FROM ZCP21480.CHICAGO_CRIME_DATA;

 * ibm_db_sa://zcp21480:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

In [8]:
%%sql
SELECT COUNT(*) FROM ZCP21480.SCHOOLS;

 * ibm_db_sa://zcp21480:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('566'),)]

# Question 2. Average College enrollment for Community area.

In [9]:
%%sql
SELECT * FROM ZCP21480.SCHOOLS LIMIT 1;

 * ibm_db_sa://zcp21480:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99, 'Very Strong', '99', 'Strong', 74, 'Strong', 66, 'Strong', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.0%', Decimal('2.0'), '96.4%', '95.8%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', Decimal('69.7'), Decimal('64.4'), Decimal('0.2'), Decimal('0.9'), 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 150000000000000, Decimal('1171699.458'), Decimal('1915829.428'), Decimal('41.92449696'), Decimal('-87.64452163'), 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)')]

In [10]:
%%sql 
SELECT College_Enrollment_Rate__ FROM ZCP21480.SCHOOLS;

 * ibm_db_sa://zcp21480:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0206N  "COLLEGE_ENROLLMENT_RATE__" is not valid in the context where it is used.  SQLSTATE=42703 SQLCODE=-206 [SQL: 'SELECT College_Enrollment_Rate__ FROM ZCP21480.SCHOOLS;']

In [11]:
%%sql
SELECT  "Community_Area_Name",COUNT("Name_of_School") as SCHOOL_COUNT
FROM ZCP21480.SCHOOLS
GROUP BY "Community_Area_Name";

 * ibm_db_sa://zcp21480:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('ALBANY PARK', Decimal('8')),
 ('ARCHER HEIGHTS', Decimal('2')),
 ('ARMOUR SQUARE', Decimal('3')),
 ('ASHBURN', Decimal('8')),
 ('AUBURN GRESHAM', Decimal('10')),
 ('AUSTIN', Decimal('23')),
 ('AVALON PARK', Decimal('3')),
 ('AVONDALE', Decimal('4')),
 ('BELMONT CRAGIN', Decimal('12')),
 ('BEVERLY', Decimal('4')),
 ('BRIDGEPORT', Decimal('5')),
 ('BRIGHTON PARK', Decimal('8')),
 ('BURNSIDE', Decimal('1')),
 ('CALUMET HEIGHTS', Decimal('6')),
 ('CHATHAM', Decimal('9')),
 ('CHICAGO LAWN', Decimal('7')),
 ('CLEARING', Decimal('4')),
 ('DOUGLAS', Decimal('11')),
 ('DUNNING', Decimal('6')),
 ('EAST GARFIELD PARK', Decimal('13')),
 ('EAST SIDE', Decimal('5')),
 ('EDGEWATER', Decimal('6')),
 ('EDISON PARK', Decimal('2')),
 ('ENGLEWOOD', Decimal('17')),
 ('FOREST GLEN', Decimal('3')),
 ('FULLER PARK', Decimal('2')),
 ('GAGE PARK', Decimal('10')),
 ('GARFIELD RIDGE', Decimal('5')),
 ('GRAND BOULEVARD', Decimal('8')),
 ('GREATER GRAND CROSSING', Decimal('10')),
 ('HEGEWISCH', Decimal('2')),
 ('HERMOSA', Decimal('4')),
 ('HUMBOLDT PARK', Decimal('13')),
 ('HYDE PARK', Decimal('4')),
 ('IRVING PARK', Decimal('9')),
 ('JEFFERSON PARK', Decimal('2')),
 ('KENWOOD', Decimal('7')),
 ('LAKE VIEW', Decimal('11')),
 ('LINCOLN PARK', Decimal('7')),
 ('LINCOLN SQUARE', Decimal('5')),
 ('LOGAN SQUARE', Decimal('11')),
 ('LOOP', Decimal('1')),
 ('LOWER WEST SIDE', Decimal('11')),
 ('MCKINLEY PARK', Decimal('4')),
 ('MONTCLARE', Decimal('1')),
 ('MORGAN PARK', Decimal('5')),
 ('MOUNT GREENWOOD', Decimal('4')),
 ('NEAR NORTH SIDE', Decimal('7')),
 ('NEAR SOUTH SIDE', Decimal('3')),
 ('NEAR WEST SIDE', Decimal('16')),
 ('NEW CITY', Decimal('13')),
 ('NORTH CENTER', Decimal('7')),
 ('NORTH LAWNDALE', Decimal('16')),
 ('NORTH PARK', Decimal('5')),
 ('NORWOOD PARK', Decimal('8')),
 ('OAKLAND', Decimal('1')),
 ('OHARE', Decimal('1')),
 ('PORTAGE PARK', Decimal('7')),
 ('PULLMAN', Decimal('5')),
 ('RIVERDALE', Decimal('4')),
 ('ROGERS PARK', Decimal('6')),
 ('ROSELAND', Decimal('13')),
 ('SOUTH CHICAGO', Decimal('7')),
 ('SOUTH DEERING', Decimal('4')),
 ('SOUTH LAWNDALE', Decimal('22')),
 ('SOUTH SHORE', Decimal('9')),
 ('UPTOWN', Decimal('7')),
 ('WASHINGTON HEIGHTS', Decimal('9')),
 ('WASHINGTON PARK', Decimal('5')),
 ('WEST ELSDON', Decimal('3')),
 ('WEST ENGLEWOOD', Decimal('13')),
 ('WEST GARFIELD PARK', Decimal('8')),
 ('WEST LAWN', Decimal('4')),
 ('WEST PULLMAN', Decimal('10')),
 ('WEST RIDGE', Decimal('9')),
 ('WEST TOWN', Decimal('20')),
 ('WOODLAWN', Decimal('8'))]